@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  font-family: 'open sans', sans-serif;
  color: white;
}

#container {
  background-color: #9cc0e7;
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.40);
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  #container {
    width: 90%;
  }
}
header {
  text-align: center;
}
.form-field {
  margin: 15px 30px;
} 
label {
  display: flex;
}
.p-label {
  margin-top: 0;
  margin-bottom: 0;
}
.long-input {
  margin-top: 10px;
  width: 100%;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: black; 
}
.radio-rating, .checkbox-ratings {
  margin-top: 10px;
}
input[type=radio], input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
textarea {
  height: 10rem;
}
.submit {
  background-color: black;
  color: white;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}
.submit:focus {
  background-color: white;
  color: black;
  cursor: pointer;
}
.submit:hover {
  cursor: pointer;
}